<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>WELCOME TO ABOUT PAGE</h1>
        <%-include("navbar")%>
    </div>
    <div>
        <h1>Student Names</h1>
            

            <ul>
                <% for(let i=0;i<names.length;i++){ %>
                    <li><a href="/document"><%=names[i]%></li></a>
                    <% } %>
            </ul>
    </div>

</body>
</html>