<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>
            student records
        </h1>
        <ul>
            <li>
                <%=obj.name%>
            </li>
            <li>
                <%=obj.pass%>
            </li>
            <li>
                <%=obj.number%>
            </li>
            <li>
                <%=obj.sex%>
            </li>
        </ul>
    </div>
</body>
</html>